* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.background-color1 {
    padding-bottom: 100px;
}

.background-color1,
footer {
  background-color: #1f2937;
}

.main-header {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.main-header-caption,
.link {
  font-size: 18px;
  color: #f9faf8;
}

.main-header-caption {
    padding-bottom: 10px;
}

.sign-button {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 5px 25px;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
}

.sign-button-buy {
    border: 2px solid #f9faf8;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 40px 0;
}

.quote-color {
    background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  font-weight: 100;
  font-style: italic; 
}

.quote-section p:last-child{
    font-size: 1.5rem;
    text-align: right;
}

footer {
  color: #f9faf8;
  text-align: center;
  padding: 30px 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 40px;
}

.first-block,
.second-block,
.quote-section,
.sign-up-block {
  margin: 0 auto;
  width: 1100px;
}

.quote-section {
    width: 900px;
    padding: 130px 0;
}

.main-img {
  width: 350px;
  border-radius: 1rem;
}

.main-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  margin-left: 20px;
  text-decoration: none;
}

.second-block img {
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 1rem;
}

.second-block {
    padding-bottom: 90px;
}

.img-flex {
    display: flex;
    justify-content: space-around;
}

.img-captions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.img-captions p {
    width: 200px;
    text-align: center;
}

.sign-up-color {
    background-color: #3882f6;
    border-radius: 0.25rem;
    padding: 40px 70px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-block {
    padding: 100px 200px;
    width: 900px;
    margin: 0 auto;
}